/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

/* General */

hr {
  margin: 10px 0 10px 0;
}

h1 {
  margin: 5px;
  font-size: 20px;
}

button {
  margin: 5px;
  cursor: pointer;
}

.containerCenter {
  display: flex;
}

.headerFood {
  /* Mettre une jolie écriture bien visible */
  font-size: 0.8rem;
  font-family: "Cascadia";
  background-color: #C78100 !important;

  /* Mettre un peu de marge */
  margin: 5px;

  /* Mettre un peu de padding */
  padding: 5px;

  /* Mettre un peu de bordure */
  border: 1px solid black;

  /* Mettre un peu de radius */
  border-radius: 5px;

  /* Mettre un peu de couleur */
  color: white;

  /* Mettre un peu de flex */
  display: flex;

  /* Mettre un peu de justify */
  justify-content: space-between;

  /* Mettre un peu de align */
  align-items: center;

  /* Mettre un peu de cursor */
  cursor: pointer;
}

.nutriScoreA {
  background-color: green !important;
}

.nutriScoreB {
  background-color: rgb(149, 236, 17) !important;
}

.nutriScoreC {
  background-color: rgba(255, 255, 0, 0.541) !important;
}

.nutriScoreD {
  background-color: orange !important;
}

.nutriScoreE {
  background-color: red !important;
}

.novaGroup1 {
  background-color: green !important;
}

.novaGroup2 {
  background-color: rgba(255, 255, 0, 0.541) !important;
}

.novaGroup3 {
  background-color: orange !important;
}

.novaGroup4 {
  background-color: red !important;
}

.goodCase {
  background-color: green !important;
}

.baseCase {
  background-color: red !important;
}

.ecoScoreA {
  background-color: green !important;
}

.ecoScoreB {
  background-color: rgba(255, 255, 0, 0.541) !important;
}

.ecoScoreC {
  background-color: orange !important;
}

.ecoScoreD {
  background-color: red !important;
}

.ecoScoreE {
  background-color: black !important;
}

.containerDivLeft {
  background-color: rgb(19, 122, 114) !important;
  width: 50% !important;
}

.containerDivRight {
  background-color: rgb(136, 46, 46) !important;
  width: 50% !important;

  display: flex;
  /* Faire en sorte qu'il y ait max 4 élements et qu'ils ont max 25% de width */
  flex-wrap: wrap;
  justify-content: space-around;

  /* Faire en sorte qu'on peut scroller */
  overflow-y: auto;
  overflow: auto;
}

.food {
  max-width: 50%;
}

.foodHeader {
  display: flex;
  background-color: rgba(231, 167, 231, 0.568);
}

.foodHeader * {
  min-width: 50%;
}

.foodHeader2 {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.nutrientLevels {
  display: flex;
  flex-direction: column;
}

.nutrientLevels p {
  margin: 2px;
}

.foodHeader2>p {
  margin: 2px;
}

.foodContent {
  display: flex;
}

.foodText {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
}

.foodText * {
  margin: 5px;
}

.foodImage {
  width: 50%;
}

.withoutCodebarre {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/WX_circle_red.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 5px;
  height: 5px;
}


/* Class for button */

.showFinalListButton {
  font-size: 1rem;
  font-family: "Cascadia";
  background-color: #C78100 !important;
  /* doesn't work TODO */
}

.selected {
  background-color: green !important;
}

.footerContainer {
  display: flex;
}

.footerRedCircle {
  margin-top: 1.3em;
  margin-right: 5px;
}

.nutrientLevelsSeparatorLow {
  width: 10px;
  height: 10px;

  border-radius: 1em;
  background-color: green;
}

.nutrientLevelsSeparatorMedium {
  width: 10px;
  height: 10px;

  border-radius: 1em;
  background-color: orange;
}

.nutrientLevelsSeparatorHigh {
  width: 10px;
  height: 10px;

  border-radius: 1em;
  background-color: red;
}

.group {
  display: flex;
  align-items: center;
}